.toyRow {
	margin-bottom: 3em
}

.toyEntry{
	text-align:center;
}
.toyBrief {
	word-wrap: break-word;
	text-align: center;
	font-size:large;
}

.vertical{
	position:relative;
	top:5;
	width:100%;
	left:0%;
}

.modal-body{
	max-height:300px;
	overflow-y:auto;
}